


html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
    margin: 10px
}

header{
    background-color: rgb(114, 65, 212);
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}



#logo {
    display: flex;
    margin-right: auto;
    margin-left: 30px;
}


.headertext {
    color: white;
    font-size: 20px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;

  }

.headertext:hover {
    color:#97e7d3;
    text-decoration: underline

}


footer{
    background-color: rgb(114, 65, 212);
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 100px;
    padding-top: 20px;
    text-align: start;
    width: 100%
    
}


.footer-about (
     margin-left: 20px;
)



.footer-project {
    display: flex;
    width: 100%;
}


h3 {
    font-size: 15px;
    color: white;
    font-variant-caps: all-petite-caps;
    letter-spacing: 3px;
    font-weight: 200;
    margin-left: 20px;
    margin-top: 0px;
    display: flex;
    text-align: start;
}

.socials {
    margin-right: 20px;
}













/* flexbox section 1 */

.flexbox-about-container {
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
}

p {
    opacity: 75%;
    letter-spacing: .5px;
    line-height: 1.5;
    margin-top: 2em;
    font-size: 14px;
    
}

h1 {
    font-variant-caps: all-petite-caps;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 60px;
    align-content: center;

}

em{
    background-color:rgb(114, 65, 212);
    color: ghostwhite;
    opacity: 100%;
}

h2 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
}


.flexbox-portfolio-container  {
    align-content: center;
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calltoaction {
    font-weight: bold;
    color: black
    opacity: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.about {
    text-align: center;
    max-width: 600px;
}


.flexbox-about-item-2 {
    max-width: 500px;
    align-items: center;
    justify-content: center;
}

#button {
    margin-top: 2em;
}

.flexbox-about-item {
    text-align: center;
}







.flexbox-portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexbox-portfolio-item {
    height: 350px;
    width: 350px;
    border: 1px solid #333

}

.flexbox-portfolio-item-1 {
    margin:10px;
    width: 350px;
    height: 350px;
}

.flexbox-portfolio-item-2 {
    margin:10px;
    width: 350px;
    height: 350px;
}

.flexbox-portfolio-item-3 {
    margin:10px;
    width: 350px;
}

.flexbox-portfolio-item-4 {
    margin:10px;
    width: 350px;

}

.flexbox-portfolio-item-5 {
    margin:10px;
    width: 350px;

}

.flexbox-portfolio-item-6 {
    margin:10px;
    width: 350px;

}

.flexbox-portfolio-item-7 {
    margin:10px;
    width: 350px;

}

.flexbox-portfolio-item-8 {
    margin:10px;
    width: 350px;

}

.flexbox-portfolio-item-9 {
    margin:10px;
    width: 350px;

}


.overlay {
    width:350px;
    height:350px;
    transition:all 0.3s ease;
}

#overlay:hover {
    background:#53a7ea;
}



/* overlay */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .image {
    display: block;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;

  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(114, 65, 212);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }








/* portfolio buttons style */

.portfolio-link-text {
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.portfolio-link-text:hover {
    color:#97e7d3;
    text-decoration: underline
}



/* form */

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: column;
}

.form-item label {
    flex-basis: 40px;
    font-size: 22px;
}

.form-item input{
min-width: 350px;
}

.form-item textarea#message { 
    min-width: 350px;
    min-height: 150px;
    }


.form-item textarea {
    flex-basis: 50%;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #97e7d3;
}

.form-item input,
.form-item textarea {
    color: black;
    font-size: 20px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 1em 1.5em;
    text-transform: uppercase;
}





.form-item button {
    border: 2px solid #bee7dd;
    background-color: #97e7d3;
    color: rgb(114, 65, 212);
    padding: 5px;
    font-size: 20px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 3px;
    margin-top: 50px;
    border-radius: 5px;
}

.form-item button:hover {
    border: 2px solid rgb(148, 119, 206);
    background-color: rgb(114, 65, 212);
    color: #FFF;
    font-size: 20px;
    font-variant-caps: all-petite-caps;
}

.form-item button {
    width: 150px;
}


.form-item label {
    color: rgb(114, 65, 212);
    font-size: 20px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}


/* project page */


.flexbox-project-container {
    align-content: center;
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #97e7d3;
    width: 100%;
    padding-bottom: 50px;
}

.flexbox-project-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-project-item-1 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-2 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-3 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-4 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-5 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-6 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-7 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-8 {
    height: 1000px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}










/* tablets*/
@media (min-width: 768px){
    .flexbox-about-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flexbox-about-item-2 {
        max-width: 700px;
    }
    .about {
        justify-content: center;
        text-align: center;
    
    }
    .flexbox-about-item {
        margin: 10px;
        flex-wrap: wrap;
    }

    h1 {
        font-variant-caps: all-petite-caps;
        letter-spacing: 3px;
        font-weight: 200;
        font-size: 55px;
        align-content: center;
    
    }

    #button {
        padding-top: 20px;
        text-align: center;
        margin: 2px;
        justify-content: center;
    }

    .flexbox-portfolio-container {
        flex-wrap: wrap; 
        display: flex;
        flex-direction: unset;
    }

    .flexbox-portfolio-item {
        height: 350px;
        min-width: 350px;
        border: 1px solid #333
    }




   
/* widen form*/ 

    .form-item input{
        min-width: 700px;
        }

        .form-item textarea#message { 
            min-width: 700px;
            min-height: 200px;
            }




/* tablet project page */


.flexbox-project-container {
    flex-wrap: wrap; 
    display: flex;
    flex-direction: unset;
    background-color: #97e7d3; 
    width: 100%;
}

.flexbox-project-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-project-item-1 {
    height: 350px;
    width: 722px;
    margin:10px;
    border: 1px solid #333
}

/* .flexbox-project-item-2 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-3 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-4 {
    height: 350px;
    width: 722px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-5 {
    height: 350px;
    width: 722px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-6 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
}

.flexbox-project-item-7 {
    height: 350px;
    width: 350px;
    margin:10px;
    border: 1px solid #333
} */
















/* desktops min-width 992*/
@media (min-width: 1172px) {
    .flexbox-about-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flexbox-about-item-2 {
        /* max-width: 600px; */
        justify-content: center;
        align-items: center;
    }

    .about {
        text-align: center;
        /* max-width: 900px; */
    }

    p {
        opacity: 75%;
        letter-spacing: .5px;
        line-height: 1.5;
        margin-top: 1em;
        font-size: 14px;
        
    }

    .flexbox-about-item {
        flex-wrap: wrap;
        /* max-width: 600px; */
    }

    h1 {
        font-variant-caps: all-petite-caps;
        letter-spacing: 3px;
        font-weight: 200;
        font-size: 55px;
        align-content: center;
    }

    h2 {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.5;
    }

    #button {
        padding-top: 20px;
        text-align: right;
        margin: 2px;
        justify-content: center;
    }

    .flexbox-portfolio-container {
        flex-wrap: wrap; 
        display: flex;
        flex-direction: unset;
    }

    .flexbox-portfolio-item {
        height: 350px;
        width: 350px;
        border: 1px solid #333
    }


 .flexbox-about-item-1 {
    text-align: right;
    justify-content: right;
 }

 .about {
    text-align: center;
    max-width: 900px;
}

.project-text {
    text-align: center;
    max-width: 900px;
}

